services:
  - type: web
    name: check-scam-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: RENDER
        value: true
      - key: PORT
        value: 8443
